$subtle-white: #f9f9f9;
$blue: #F03861;

@media screen and (min-width: 100em) {
  .list--nav {
    overflow: visible;
  }

  li.item--nav {
    position: relative;

    ul {
      display: none;
      list-style-type: none;
    }
    &:hover {
      ul {
        display: block;

        width: 160px;
        left: 0;

        position: absolute;
        li {
          display:list-item;
          background-color: #f2f2f2;
          float:none;
          position: relative;
          text-align: left;

          &:hover {
            background-color: darken($subtle-white, 10%);
          }
        }
      }
    }
  }
}