---
title: false
styles: true
---

@import "alembic";
@import "table";
@import "nav-addon";
@import "class";
@import "contact";

.container.typeset {
    text-shadow: 1px 1px 2px black;
}
.container.typeset h2 {
    font-size: 2.4rem;
}

.container.typeset.index {
    color: #F0F3F4;
}
.container.typeset.index h2 {
    color: #F0F3F4;
}

.container.typeset.about {
    color: #BA4A00;
}
.container.typeset.about h2 {
    color: #BA4A00;
}

.container.typeset.contact {
    color: #05bf85;
}
.container.typeset.contact h2 {
    color: #05bf85;
}

.container.typeset.twos {
    color: #05bf85;
}
.container.typeset.twos h2 {
    color: #05bf85;
}

.container.typeset.threes {
    color: #05bf85;
}
.container.typeset.threes h2 {
    color: #05bf85;
}

.container.typeset.fours {
    color: #05bf85;
}
.container.typeset.fours h2 {
    color: #05bf85;
}
